img{
    width:200px;
    height:200px;
    z-index: -1;
    position: absolute;
}

.div1 {
    background-color: rgb(15, 219, 8);
    z-index: 2;
    position: absolute;
    width:75px;
    height:75px;
}
.div2 {
    background-color: rgb(223, 131, 12);
    z-index: 1;
    position: absolute;
    width:90px;
    height:90px;
    text-align: right;
}

.flex-container {
    background-color: blue;
    border: 1px blue;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.flexdiv1 {
    border:1px solid gold;
    background-color: aquamarine;
    margin-left: 20px;
    padding:20px;
}

.flexdiv2 {
    border:1px solid rgb(162, 0, 255);
    background-color: aqua;
    margin-left: 20px;
    padding:20px;
}

.flexdiv3 {
    border:1px solid gold;
    background-color: blueviolet;
    margin-left: 20px;
    padding:20px;
}
#p1 {
    font-size: 5rem;
}
#p2 {
    font-size: 5em;
}
#p3 {
    font-size: 5vh;
}
#p4 {
    font-size: 5vw;
}
#p4 {
    font-size: 5px;
}
#p4 {
    font-size: 5%;
}