/*
background and border in css:
*/
body {
    background-color: green;
}

.div {
    background-image: url(/HTML/img/css.png);
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: center;
    background-attachment: fixed;
}
.margin {
    border: 3px solid;
    padding: 20px;
    text-align: center;
    background-color:blueviolet;
    margin-top:40px;
    margin-bottom: 40px;
}
.bt {
    background-color: aquamarine;
    height: 100px;
    color:brown;
    font-size: 50px;
    margin: 40px;
    padding-right:5px;
    padding-left: 5px;
    text-decoration: underline;
    cursor:none;
}

a {
    color:blue;
    border: 2px;
}
